@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap');

body {
  font-family: 'Outfit', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: Outfit;
}
.slider{
  -webkit-appearance: none;
  height: 100%;
  background: transparent;
}

.slider ::-webkit-slider-thumb{
  appearance: none;
  width: 30px;
  min-height: 30px;
  background-image: url(/slide_icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.bg-layer{
  background-image: url(/bg_layer.png);
}

.text-gradient {
  background: linear-gradient(to right, #8b5cf6, #a855f7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
